.venv
venv

__pycache__
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info
dist/
build/
*.log
.DS_Store
.idea/
.vscode/
*.sqlite3
*.db
*.dat
*.csv
*.pkl
*.h5
*.hdf5
*.bak
*.swp
*.tmp
*.temp
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.ipynb_checkpoints
*.coverage
.coverage.*
.cache
.tox/
.pytest_cache/
.mypy_cache/
htmlcov/
docs/_build/
site/
.env